body {
  font-family: Helvetica;
}

.AddMovie {
  padding-bottom: 1em;
}

.MovieList {
  width: 600px;
}

.MovieListEntry {
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  padding: 2em;
}

.Search {
  padding-bottom: 1em;
}

.watchedButton {
  float: right
}